@font-face {
    font-family: 'ttnorms';
    src: url('/fonts/ttnorms-regular-webfont.woff2') format('woff2'),
         url('/fonts/ttnorms-regular-webfont.woff') format('woff'),
         url('/fonts/ttnorms-black-webfont.woff2') format('woff2'),
         url('/fonts/ttnorms-black-webfont.woff') format('woff'),
         url('/fonts/ttnorms-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/ttnorms-blackitalic-webfont.woff') format('woff'),
         url('/fonts/ttnorms-bold-webfont.woff2') format('woff2'),
         url('/fonts/ttnorms-bold-webfont.woff') format('woff'),
         url('/fonts/ttnorms-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/ttnorms-bolditalic-webfont.woff') format('woff'),
         url('/fonts/ttnorms-italic-webfont.woff2') format('woff2'),
         url('/fonts/ttnorms-italic-webfont.woff') format('woff'),
         url('/fonts/ttnorms-light-webfont.woff2') format('woff2'),
         url('/fonts/ttnorms-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
