.jumbotron{
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .jumbotron__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 131px;
        height: inherit;
        
        @media (max-width: 767px){
            padding: 0 85px;
        }
        span{
            display: block;
       } 
        .jumbotron__content-title{
            padding-bottom: 20px;
       
            @media (max-width: 767px){
                font-size: 3.25rem;
                line-height: 3.75rem;
            }
        }
        .jumbotron__content-description{
            padding-bottom: 36px;
        }
    }
}